@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
}
body {
  background: #E2E2DF;
}
header {
  width: 100%;
  height: 60px;
  background: #D4D4D0;
  border-bottom: 1px solid #656564;
}

header h1 {
  font-size: 1.4em;
  color: #3A3A3A;
  float: left;
  margin-left: 3em;
  margin-top: .8em;
  
}

a {
  text-decoration: none;
  color: #3A3A3A;
}
nav  {
  flaot: right;
  position: relative;
}
nav li {
  list-style: none;
  font-size: 0.8em;
  display: inline-block;
  
}
