@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu" sans-serif;
  list-style: none;
}

body {
  background: #2C001E;
}

h1{
  position : absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-animation: bright 1s infinite;
  animation: bright 1s infinite;
  
}

h1 #logo-head {
  font-size: 1.2em;
  color: #fff;
  text-shadow: 0px 0px 11px rgba(255, 255, 255, 1);
 }
svg #logo-img {
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( 0px 0px 11px rgba(255, 255, 255, 1));
}



